@import 'core';

.logo {
  width: fit-content;
  @include flex(flex-start, center);
  cursor: pointer;
  @include media($screen-tablet-small) {
    min-width: 207px;
  }
  &__icon {
    @include size(35px);
    fill: $WHITE;
    margin-right: 5px;
    @include media($screen_tablet) {
      @include size(51px);
    }
  }
  &:hover &__text {
    color: $HOVER_LINK;
  }
  &__text {
    @include text(rem(15px), 600, $WHITE);
    line-height: 133%;
    @include transition(color);
    &:hover {
      color: $HOVER_LINK;
    }
    @include media($screen_tablet) {
      font-size: 22px;
      line-height: 136%;
    }
  }
}
