// ! ---COLORS---

// # GENERAL:
$DARK: #242424;
$BLUE: #194484;
$WHITE: white;
$BLACK: black;
$GREEN: #06b25f;
$BLUE_LIGHT: #84b5ff;
$GREEN_LIGHT: #66d6a0;
$BLUE_MEDIUM1: #0d6eb7;
$BLUE_MEDIUM2: #276ed8;

// # ADDITIONAL:
$HOVER_LINK: #44c9ff;
